* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 0 100px;
  height: 850px;
}

.foto img {
  width: 50%;
  margin: 0 25%;
  border-radius: 30px;
}

.menu {
  background-color: skyblue;
  height: max-content;
  position: fixed;
  width: 100%;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 14px 100px;
}

.menu li {
  display: inline;
  vertical-align: middle;
}

.menu img {
  width: 80px;
  padding-top: 5px;
}

.categorias {
  width: 20%;
  vertical-align: top;
  float: left;
  margin-top: 30px;
}

.categorias li {
  list-style-type: none;
  padding: 5px 0;
  cursor: pointer;
}

.produtos {
  float: right;
  width: 80%;
  vertical-align: top;
  margin-top: 30px;
}

.box_produto {
  width: 300px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-right: 30px;
}

.box_produto img {
  width: 120px;
}

.descricao {
  padding-bottom: 10px;
}

.preco_atual {
  color: red;
  font-weight: bold;
}

.preco_antigo {
  text-decoration: line-through;
  padding-top: 10px;
  font-size: 13px;
}

.lojas {
  width: 100%;
  margin-top: 30px;
}

.loja_box {
  text-align: center;
  width: 33%;
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
}

.loja_box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.galeria {
  margin-top: 30px;
  text-align: center;
}

.contatos {
  width: 100%;
  margin-top: 30px;
}

.email {
  width: 50%;
  float: left;
  text-align: center;
}

.email img {
  width: 50px;
}

.whats {
  width: 50%;
  float: right;
  text-align: center;
}

.whats img{
  width: 50px;
}

.mensagem {
  text-align: center;
  margin-top: 85px;
}

input.dados-pessoais{
  outline: 0;
  width: 400px;
  height: 30px;
  border-radius: 7px;
  border-style: none;
  border: solid 1px;
  padding-left: 10px;
}

textarea {
  outline: 0;
  height: 200px;
  width: 400px;
  border-radius: 7px;
  padding-top: 10px;
  padding-left: 10px;
}

::placeholder{
  font-size: 15px;
}

.buttom {
  margin-top: 10px;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  background-color: lightskyblue;
  color: white;
  font-size: 16px;
  opacity: 70%;
  outline: 0;
}

.buttom:hover {
 opacity: 100%;
}

#formas_pagamento {
  color: midnightblue;
  margin-bottom: 20px;
}

#rodape {
  width: 100%;
  text-align: center;
  font-weight: lighter;
  color: white;
  display: inline-block;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: skyblue;
}

#rodape img {
  width: 20%;
}